:root {
  --primary-color: #fff;
  --secondary-color:  #dee2e6;
  --accent-color: #F65282;
  --background-color: #1B1B1B;
} 

body {
  font-family: 'Nunito', sans-serif;
  color: var(--primary-color);
  background: var(--background-color);
}

h1 {
  color: var(--primary-color);
  font-size: 96px;
  font-weight: 700;
}

h2,
h3 {
  font-weight: 700;
  color: var(--secondary-color);
}

.hero {
  text-align: center;
  padding: 72px 20px 40px;
}

.hero h2 {
  font-size: 24px;
}

.hero h3 {
 font-size: 36px;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  margin: 48px 0;
  padding: 18px 30px;
  background: var(--primary-color);
  color: var(--accent-color);
  text-transform: uppercase;
  border-radius: 50px;
}

.card {
  background: #2D2727;
  color: var(--secondary-color);
}
.card image {
  height: 600px;
}

main {
  padding: 72px 20px;
}

main h2 {
  font-family: 'Montserrat', sans-serif;
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 24px;
}

main h3 {
  font-size: 64px;
}

main h4 {
  color: var(--secondary-color);
  font-size: 18px;
}

main p {
  font-size: 16px;
}

.photo {
  width: 80%;
  border-radius: 6px;
}

@media(max-width: 900px) {
  h1 {
    font-size: 60px;
  }
}
@media(max-width: 767px) {
  main {
    text-align: center;
  }
}
