:root {
  --primary-color: #fff;
  --secondary-color:  #dee2e6;
  --accent-color: #F65282;
  --background-color: #1B1B1B;
} 

body {
  font-family: 'Nunito', sans-serif;
  color: var(--primary-color);
  background: var(--background-color);
}

.navbar-brand,
.navbar a, 
.nav-link.active {
  color:var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.nav-link.active:hover,
.navbar a:hover {
  color: var(--accent-color);
}

h1 {
  color: var(--primary-color);
  font-size: 96px;
  font-weight: 700;
}

h2,
h3 {
  font-weight: 700;
  color: var(--secondary-color);
}

.hero {
  text-align: center;
  padding: 72px 20px 40px;
}

.hero h2 {
  font-size: 24px;
}

.hero h3 {
 font-size: 36px;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  padding: 18px 30px;
  background: var(--primary-color);
  color: var(--accent-color);
  text-transform: uppercase;
  border-radius: 50px;
}

.btn:hover {
  background: var(--accent-color);
}

.card {
  background: #2D2727;
  color: var(--secondary-color);
}
.card image {
  height: 600px;
}

.content-container {
  padding: 72px 20px;
}

.content-container h2 {
  font-family: 'Montserrat', sans-serif;
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 24px;
}

.footer-content,
.content-container h3 {
  font-size: 64px;
}

.footer-content,
.content-container h4 {
  color: var(--secondary-color);
  font-size: 18px;
}

.content-container p {
  font-size: 16px;
}

.content-container a {
  color: var(--accent-color);
  text-decoration: none;
}
.photo {
  border-radius: 6px;
}

.contact-box {
  border-radius: 20px;
  background: #2D2727;
  padding: 30px 120px;
}

footer a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 24px;
}

footer a:hover {
  color: var(--accent-color);
}

.social-links a {
  margin: 0 20px;
  color: var(--secondary-color);
  background: var(--background-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  color: var(--accent-color);
  background: var(--secondary-color)
}

footer p,
footer p a {
  font-size: 16px;
  color: var(--secondary-color);
}

@media(max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  .project-description h2 {
  font-size: 44px;
  }
}
@media(max-width: 767px) {
  .content-container {
    text-align: center;
  }
  .content-container h3 {
    font-size: 44px;
  }
}
