:root {
  --primary-color: #fff;
  --secondary-color:  #dee2e6;
  --accent-color: #F65282;
  --background-color: #1B1B1B;
} 

body {
  font-family: 'Nunito', sans-serif;
  color: var(--primary-color);
  background: var(--background-color);
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--secondary-color);
}

h1 {
  color: var(--primary-color);
  font-size: 96px;
}

h2 {
  font-size: 24px;
}

h3 {
 font-size: 36px;
}

.hero {
  text-align: center;
  padding-top: 152px;
}

.contact {
  font-family: 'Montserrat', sans-serif;
  margin-top: 48px;
  padding: 18px 30px;
  background: var(--primary-color);
  color: var(--accent-color);
  border-radius: 50px;
}

